<div *ngIf="!neonSelected && !commandMode" class="ec-top-layer"></div>


<div *ngIf="!neonSelected && !commandMode" style="height: 800px;" class="ec-bigbox">
  <div class="row ec-top-row">
    <div class="col-lg-4  ec-petit-prince"></div>
    <div class="col-lg-1 forBigPussy"></div>
    <div class="col-lg-7 col-md-10 col-sm-12 col-xs-12">
      <div class='ec-list-title row'>
        <h2 class="ec-title col-lg-5 col-md-12">Tous vos néons</h2>
        <button class="prev-btn col-lg-3 col-md-12" (click)="goToForm();">Créer un nouveau néon</button>
        <div class='forBigPussy col-1'></div>
        <button  class="next-btn  col-lg-3 col-sm-12" (click)="logout()">Se déconnecter</button>
      </div>

      <div class="ec-list-cont">
        <table>

          <thead>

            <tr>
              <th class="list-dessins-th">Vos dessins techniques</th>
              <th class="list-dessins-th">Etat</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let command of neonList; let i = index" (click)="goToNeonDetail(command)">
              <!--              [className]="command.typo + ' dynamicNeonTitle ' + getColor(command.colors) "-->
              <td class="pb3 pt3" data-column="Texte">{{command.text | titlecase}}</td>
              <td data-column="">{{command.state | titlecase}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="row ec-bottom-row">
    <div class="cards-list">

      <div class="card 1">
        <div [style.backgroundImage]="'url('+ '../.././assets/Icon-paiement-securise-12.png' +')'" class="card_image">

        </div>
        <div class="card_content">
          <span class="ec-card-title">
            Paiement sécurisé

          </span>
          <span class="ec-card-descr">
            Les paiements sur notre site sont sécurisés. Nous acceptons tous les paiements dont Visa, Master Card.
          </span>

        </div>
      </div>

      <div class="card 2">
        <div [style.backgroundImage]="'url('+ '../.././assets/Icon-livre-sous-quinze-jours-10.png' +')'"
          class="card_image">

        </div>
        <div class="card_content">
          <span class="ec-card-title">
            Livraison
          </span>
          <span class="ec-card-descr">
            Nous vous livrons dans un délai de deux à trois semaines, selon la production et la destination. En cas de
            demande urgente merci de nous contacter directement afin de procéder à une "Commande express"
          </span>

        </div>
      </div>

      <div class="card 3">
        <div class="card_image" [style.backgroundImage]="'url('+ '../.././assets/Icon-garantie-13.png' +')'">

        </div>
        <div class="card_content">
          <span class="ec-card-title">
            Garantie
          </span>
          <span class="ec-card-descr">
            Tous nos néons possèdent une garantie d'un an à compter de la date d'achat. Si vous devez retourner un
            article défectueux, veuillez nous contacter avec votre numéro de commande et les détails concernant le produit que vous souhaitez
            retourner !
          </span>

        </div>
      </div>



    </div>
  </div>
</div>


<div *ngIf="neonSelected  && !commandMode && !payMode" class='ec-bigbox-detail'>
  <button style="margin-bottom: 1.5%;" class="prev-btn mt3" (click)="neonSelected = null">Précédent</button>

  <h1 style="margin-bottom: 3%;">Néon LED "{{neonSelected?.text}}"</h1>

  <div class="ec-top-row-detail row">
    <div class="col-md-8 col-sm-6 col-xs-12 neon-canvas-cont">
      <div *ngIf="neonSelected.state !== 'created'" [style.backgroundImage]="'url('+ neonSelected.filePath +')'"  
        class="neon-canvas"></div>
      <div *ngIf="neonSelected.state === 'created'" class="neon-canvas"  [style.background-color]="neonSelected.state === 'created' ? '#000b31' : 'white'">
            
<svg width="100" height="100" viewBox="0 0 300 300">
  <defs>
    <linearGradient id="gradient-fill" gradientUnits="userSpaceOnUse" 
   x1="0" y1="300" x2="300" y2="0">
      <stop offset="0%">
        <animate attributeName="stop-color" values="#00E06B;#CB0255;#00E06B" dur="5s" repeatCount="indefinite"/>
      </stop>
      <stop offset="100%">
        <animate attributeName="stop-color" values="#04AFC8;#8904C5;#04AFC8" dur="8s" repeatCount="indefinite"/>
      </stop>
    </linearGradient>
    <clipPath id="clip">
      <rect class="square s1" x="0" y="0" rx="12" ry="12" height="90" width="90"></rect>
      <rect class="square s2" x="100" y="0" rx="12" ry="12" height="90" width="90"></rect>
      <rect class="square s3" x="200" y="0" rx="12" ry="12" height="90" width="90"></rect>
      <rect class="square s4" x="0" y="100" rx="12" ry="12" height="90" width="90"></rect>
      <rect class="square s5" x="200" y="100" rx="12" ry="12" height="90" width="90"></rect>
      <rect class="square s6" x="0" y="200" rx="12" ry="12" height="90" width="90"></rect>
      <rect class="square s7" x="100" y="200" rx="12" ry="12" height="90" width="90"></rect>
    </clipPath>
  </defs>
  <rect class="gradient" clip-path="url('#clip')" height="300" width="300"></rect>
</svg>
        <div class='no-dt'>Nous designons votre dessin technique !</div>
      </div>

      <div class="neon-bar">
        <div class="neon-bar-item-cont">
          <div [style.backgroundImage]="'url('+ '../.././assets/Incassable.png' +')'" class="neon-bar-item"></div>
          <span>Incassable</span>
        </div>

        <div class="neon-bar-item-cont">
          <div [style.backgroundImage]="'url('+ '../.././assets/aqua.png' +')'" class="neon-bar-item"></div>
          <span>Résistant à l'eau</span>
        </div>

        <div class="neon-bar-item-cont">
          <div [style.backgroundImage]="'url('+ '../.././assets/horloge.png' +')'" class="neon-bar-item"></div>
          <span>50 000 heures</span>
        </div>

        <div class="neon-bar-item-cont">
          <div [style.backgroundImage]="'url('+ '../.././assets/LED.png' +')'" class="neon-bar-item"></div>
          <span>LED</span>
        </div>

        <div class="bar-btn-cont">
          <!-- <button (click)="dlFile(neonSelected.filePath)">link</button> -->

          <button *ngIf="neonSelected?.state === 'created'" click class="prev-btn"><a href="#open-modal">Demander une modification</a></button>
          <button *ngIf="neonSelected?.state !== 'created'" click class="prev-btn"><a target="_blank"
              class='customHyperlink' [href]="neonSelected?.filePath">Télécharger mon dessin</a></button>
          <!-- <button   class="prev-btn" >Demander une notification</button> -->

        </div>
      </div>

    </div>



    <div class="col-md-4 col-sm-6 col-xs-12  neon-detail-config">
      <h2 style="padding-left: 5%">Configuration</h2>
      <table>
        <thead>
          <tr>
<!--            <th class='detail-configu-title'></th>-->
<!--            <th class='detail-configu-title'></th>-->

          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="font-family: Mukta-Bold;" data-column="">Texte</td>
            <td style="font-family: Mukta-Regular;" data-column="Etat">{{neonSelected?.text | titlecase}}</td>

            <!-- <td  [className]="neonSelected.typo + ' dynamicNeonTitle ' + colorsList[neonSelected.colors] " style="font-family: Mukta-Regular;" data-column="Etat">{{neonSelected.text}}</td> -->
          </tr>
          <tr>
            <td style="font-family: Mukta-Bold;" data-column="">Typographie</td>
            <td style="font-family: Mukta-Regular;" data-column="Etat">{{neonSelected?.typo | titlecase}}</td>
          </tr>
          <tr>
            <td style="font-family: Mukta-Bold;" data-column="">Couleurs</td>
            <td style="font-family: Mukta-Regular;" data-column="Etat">{{neonSelected?.colors | titlecase}}</td>
          </tr>
          <tr>
            <td style="font-family: Mukta-Bold;" data-column="">Hauteur</td>
            <td style="font-family: Mukta-Regular; " data-column="Etat">{{neonSelected?.height}}cm</td>
          </tr>
          <!-- <tr>
            <td style="font-family: Mukta-Bold;" data-column="">Etat</td>
            <td style="font-family: Mukta-Regular; text-align: center;" data-column="Etat">{{neonSelected?.state | titlecase}}</td>
          </tr> -->
          <tr  *ngIf="neonSelected.state !== 'created' && neonSelected.state !== 'payé'" >
            <td  >
              <div class="checkboxCont">
                <input  (click)="onCheckTelecommande();" id="box1" type="checkbox" />
                <label for="box1">
                </label> <div class="livraisonDom">Télécommande</div>
              </div>
              
                <!-- <input  (click)="onCheckTelecommande();" style="margin-right: 10px; align-self: center;" type="checkbox" /> -->
            </td>
            <td>
              <div class="livraisonDom">25 €</div>
            </td>
              <!-- <td style="font-family: Mukta-Bold;" data-column="">Etat</td>
              <td style="font-family: Mukta-Regular;" data-column="Etat">{{neonSelected?.state}}</td> -->
            </tr>

            <tr *ngIf="neonSelected.state !== 'created'  && neonSelected.state !== 'payé'">
                <td  >
                  <div class="checkboxCont">
                    <input  (click)="onCheckResEau();" id="box2" type="checkbox" />
                    <label for="box2">
                    </label>        <div class="livraisonDom">Résistant à l'eau</div>

                  </div>
                    <!-- <input     (click)="onCheckResEau();" style="margin-right: 10px; align-self: center;" type="checkbox" /> -->
                </td>
                <td>
                  <div class="livraisonDom">70 €</div>


                </td>
              <!-- <td style="font-family: Mukta-Bold;" data-column="">Etat</td>
              <td style="font-family: Mukta-Regular;" data-column="Etat">{{neonSelected?.state}}</td> -->
                </tr>
        </tbody>
      </table>

      <div    class="neon-tarif-cont">
        <div class="neon-tarif">
          <span *ngIf="neonSelected.state !== 'created' || neonSelected.state === 'payé'" class="neon-tarif-price">Tarif: {{neonSelected?.price}} €</span>
          <span *ngIf="neonSelected.state === 'created'" style="font-size: 17px;" class="neon-tarif-price">Tarif en cours de calcul</span>
          <span  class="neon-tarif-blabla">Livraison incluse </span>

        </div>
        <button *ngIf="neonSelected.state !== 'created' && neonSelected.state !== 'payé'" (click)="openCommand();"
          style="margin-right: 10%;" class="next-btn big-btn">Commander</button>
          <button *ngIf="neonSelected.state === 'created'" disabled
          style="margin-right: 10%;" class="grey-btn big-btn">Commander</button>

      </div>
    </div>

  </div>
  <div class="ec-bottom-row row pd7">
    <h1 class="ec-title">Un service sûr et complet</h1>
    <div class="cards-list">
      <div class="little-card  card-tarace 1">
        <div class="card_content">
          <div [style.backgroundImage]="'url('+ '../.././assets/Icon-paiement-securise-12.png' +')'" class="card-logo"></div>
          <span class="ec-card-title">
            Paiement sécurisé
          </span>
          <span class="ec-card-descr">
            Les paiements sur notre site sont sécurisés  via le module Stripe. Nous acceptons tous les paiements dont Visa, Master Card, Amex,
            Paypal et Maestro.
          </span>

        </div>
      </div>

      <div class="little-card  card-tarace 2">
        <!-- <div class="card_image">
    
           </div> -->
        <div class="card_content">
          <div [style.backgroundImage]="'url('+ '../.././assets/Icon-garantie-13.png' +')'" class="card-logo"></div>
          <span class="ec-card-title">
            Garantie un an
          </span>
          <span class="ec-card-descr">
            Tous nos néons posèdent une garantie d'un an à compter de la data d'achat. Vous devez retourner un article
            défectueux ? Contactez-nous avec le numéro de commande !
          </span>

        </div>
      </div>


      <div class="little-card  card-tarace 3">
        <!-- <div class="card_image">
              </div> -->
        <div class="card_content">
          <div [style.backgroundImage]="'url('+ '../.././assets/Icon-livraison-07.png' +')'" class="card-logo"></div>

          <span class="ec-card-title">
            Livraison offerte

          </span>
          <span class="ec-card-descr">
            Nous vous offrons la livraison pour chaque néon commandé.
          </span>

        </div>
      </div>


      <div class="little-card  card-tarace 4">
        <!-- <div class="card_image">
       
              </div> -->
        <div class="card_content">
          <div [style.backgroundImage]="'url('+ '../.././assets/Icon-livre-sous-quinze-jours-10.png' +')'" class="card-logo"></div>

          <span style="font-size: 17px;" class="ec-card-title">
            Livré sous 15 jours
          </span>
          <span class="ec-card-descr">
            Nous livrons dans un délai de 15 à 20 jours selon la production et la destination. En cas de demande urgente
            merci de nous contacter directement
            afin de procéder à une "Livraison express"
          </span>

        </div>
      </div>




    </div>
  </div>

</div>




<div class="ec-bigbox" *ngIf="commandMode && neonSelected && !payMode">
  <button style="margin-bottom: 1.5%;" class="prev-btn" (click)="previous();">Précédent</button>

  <div class="row commandMainCont">
    <div class="col-lg-6 col-sm-12 command-form-cont">
      <h2>Informations de livraison</h2>
      <div class="command-form-card row">

        <div class="row livraisonRow">
          <div class='user-info-row-cont nestedInput col-6'>
            <span class="user-info-row-title">Prénom</span>
            <input [value]="commandInfos['prénom']" (change)="onChangeCommandInfo('prénom', $event.target.value)"
              class="basic-input  " />
          </div>

          <div class='user-info-row-cont nestedInput col-6'>
            <span class="user-info-row-title">Nom</span>
            <input [value]="commandInfos['nom']" (change)="onChangeCommandInfo('nom', $event.target.value)"
              class="basic-input " />
          </div>

        </div>

        <!-- <div class=' livraisonRow user-info-row-cont'>
            <span class="user-info-row-title">Société (facultatif)</span>
              <input (change)="onChangeCommandInfo('société', $event.target.value)"   class="basic-input "/>

          </div> -->

        <div class=' livraisonRow user-info-row-cont'>
          <span class="user-info-row-title">Adresse</span>
          <input [value]="commandInfos['adresse']" (change)="onChangeCommandInfo('adresse', $event.target.value)"
            class="basic-input " />

        </div>

        <div class="row livraisonRow">
          <div class='user-info-row-cont nestedInput col-6'>
            <span class="user-info-row-title">Ville</span>
            <input [value]="commandInfos['ville']" (change)="onChangeCommandInfo('ville', $event.target.value)"
              class="basic-input  " />
          </div>

          <div class='user-info-row-cont nestedInput col-6'>
            <span class="user-info-row-title">Code postal</span>
            <input [value]="commandInfos['code-postal']"
              (change)="onChangeCommandInfo('code-postal', $event.target.value)" class="basic-input " />
          </div>

        </div>


        <div class="row livraisonRow">
          <div class='user-info-row-cont nestedInput col-6'>
            <span class="user-info-row-title">Pays</span>
            <input [value]="commandInfos['pays']" (change)="onChangeCommandInfo('pays', $event.target.value)"
              class="basic-input  " />
          </div>

          <div class='user-info-row-cont nestedInput col-6'>
            <span class="user-info-row-title">Téléphone</span>
            <input [value]="commandInfos['téléphone']" (change)="onChangeCommandInfo('téléphone', $event.target.value)"
              class="basic-input " />
          </div>

        </div>
        <span *ngIf="commandFailed" class='errorMessage'>{{errorMessage}}</span>
        <button (click)="command();"  style="align-self: center;" class="next-btn big-btn">Passer au paiement</button>
        <!-- <button *ngIf="neonSelected.state === 'commandé'"  (click)="openCommand();" style="margin-right: 5%;" class="next-btn">Payer</button> -->

      </div>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 col-sm-12">
      <div class="big-card  recap">
        <!-- <div class="card_image">
 
        </div> -->
        <div style="padding: 0 !important" class="card_content ">
          <span style='margin-left: 20px !important; margin-top: 3%;' class="ec-card-title">
            Récapitulatif
          </span>

          <div class="recapList row">
            <div style='margin-left: 20px !important;' class="row">
              <div class="col-5">Néon LED "{{neonSelected?.text}}"</div>
              <div class="col-md-2"></div>
              <div class="col-5">{{neonSelected?.price}} €</div>

            </div>

            <div style='margin-left: 20px !important;' class="row">
              <div class="col-5">Livraison</div>
              <div class="col-2"></div>
              <div class="col-5">Gratuit</div>

            </div>

          </div>

          <div class=" ttcList">
            <div class="col-4 ttc">Total TTC</div>
            <div style="padding: 0; margin-right: 10px;" class="col-4 ttc">{{neonSelected?.price}} €</div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row commandBotCont">
    <div class="col-md-6 col-sm-12 command-form-cont">
      <h2>Mode de livraison</h2>
      <div class="tiny-card">
        <!-- <input style="margin-right: 10px; align-self: center;" type="checkbox" /> -->
        <div class="livraisonDom">Livraison à domicile: 15 à 20 jours ouvrés</div>
      </div>


      <!-- <button   class="next-btn">Passer au paiement</button> -->

    </div>
  </div>

</div>



<div class="ec-bigbox" *ngIf="payMode">
  <button style="margin-bottom: 1.5%;" class="prev-btn" (click)="fromPayToCommand()">Précédent</button>

  <div class="row commandMainCont">
    <div class="col-lg-6 col-md-8 col-sm-12 command-form-cont">
      <h2>Informations de Paiement</h2>
      <div class="command-form-card-payer row">
        <h2>Carte bancaire</h2>

        <!-- <div class=' livraisonRow user-info-row-cont'>
              <span class="user-info-row-title">Numéro de carte</span>
                <input  (change)="onChangeCommandInfo('adresse', $event.target.value)"  class="basic-input "/>
  
            </div>
        <div class="row livraisonRow">
            <div class='user-info-row-cont nestedInput col-5'>
                <span class="user-info-row-title">Date d'expiration</span>
                  <input  (change)="onChangeCommandInfo('prénom', $event.target.value)"  class="basic-input  "/>
              </div>
  
              <div class="col-2"></div>
            <div class='user-info-row-cont nestedInput col-5'>
                <span class="user-info-row-title">Code de sécurité</span>
                  <input (change)="onChangeCommandInfo('nom', $event.target.value)"   class="basic-input "/>
              </div>

        </div> -->

        <!-- <div class=' livraisonRow user-info-row-cont'>
            <span class="user-info-row-title">Société (facultatif)</span>
              <input (change)="onChangeCommandInfo('société', $event.target.value)"   class="basic-input "/>

          </div> -->
        <!-- <form #checkout="ngForm" (ngSubmit)="onSubmitPay()" class="checkout">
              <div class="form-row">
                <label for="card-info">Card Info</label>
                <div id="card-info" #cardInfo></div>
            
                <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
              </div>
            
              <button type="submit">Pay $5</button>
            </form> -->
        <form #checkout="ngForm" (ngSubmit)="onSubmitPay()" class="checkout">
          <!-- <div class="form-row"> -->
          <div id="card-info livraisonRow" #cardInfo></div>

          <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
          <!-- </div> -->

          <button class='next-btn mt5 big-btn' type="submit">Valider et payer</button>
        </form>


        <span *ngIf="commandFailed" class='errorMessage'>{{errorMessage}}</span>
        <!-- <button  (click)="command();" style="margin-right: 5%;;" class="next-btn">Valider et payer</button> -->
        <!-- <button *ngIf="neonSelected.state === 'commandé'"  (click)="openCommand();" style="margin-right: 5%;" class="next-btn">Payer</button> -->
        <a target="_blank" class="hyperlink" href='https://stripe.com/fr/legal'>Voir nos condition générales d'utilisations</a>

      </div>

    </div>
    <div class="col-1"></div>
    <div class="col-md-5 col-sm-12">
      <div class="big-card  ">
        <!-- <div class="card_image">
 
        </div> -->
        <div style="padding: 0 !important" class="card_content">
          <span style='margin-left: 20px !important; margin-top: 3%;' class="ec-card-title">
            Récapitulatif
          </span>

          <div class="recapList row">
            <div style='min-height: 50px;margin-left: 20px !important;' class="row">
              <div class="col-5">Néon LED "{{neonSelected?.text}}"</div>
              <div class="col-2"></div>
              <div class="col-5">{{neonSelected?.price}} €</div>

            </div>

            <div style='margin-left: 20px !important;' class="row">
              <div class="col-5">Livraison</div>
              <div class="col-2"></div>
              <div class="col-5">Gratuit</div>

            </div>

          </div>

          <div class=" ttcList">
            <div class="col-4 ttc">Total TTC</div>
            <div style="padding: 0; margin-right: 10px;" class="col-4 ttc">{{neonSelected?.price}} €</div>

          </div>
        </div>
      </div>


      <div class="big-card  ">
        <!-- <div class="card_image">
   
          </div> -->
        <div style="padding: 0 !important" class="card_content">
          <span style='margin-left: 20px !important; margin-top: 3%;' class="ec-card-title">
            Adresse de livraison
          </span>

          <div class="recapList2 row">
            <div style='margin-left: 20px !important;' class="row">
              <!-- <div class="col-5">Néon LED "{{neonSelected.text}}"</div>
                <div class="col-2"></div> -->
              <div class="col-5">{{commandInfos.adresse}}</div>

            </div>

            <div style='margin-left: 20px !important;' class="row">
              <!-- <div class="col-5">Néon LED "{{neonSelected.text}}"</div>
                  <div class="col-2"></div> -->
              <div class="col-5">{{commandInfos['code-postal']}}, {{commandInfos.ville}}</div>

            </div>
            <div style='margin-left: 20px !important;' class="row">
              <!-- <div class="col-5">Néon LED "{{neonSelected.text}}"</div>
                    <div class="col-2"></div> -->
              <div class="col-5">{{commandInfos.pays}}</div>

            </div>
          </div>


        </div>
      </div>
    </div>

  </div>


</div>

<div  *ngIf="commandMode || payMode" class="ec-bottom-row-blue row">

  <div class="cards-list">

    <div class="little-card-blue  card-tarace 1">
      <!-- <div class="card_image">
  
         </div> -->
      <div class="card_content">
        <div  [style.backgroundImage]="'url('+ '../.././assets/Icon-paiement-securise-12.png' +')'" class="card-logo"></div>
        <h2 class="ec-title-blue">
          Paiement sécurisé
        </h2>
        <span class="ec-card-descr-blue">
          Les paiements sur notre site sont sécurisés  via le module Stripe. Nous acceptons tous les paiements dont Visa, Master Card, Amex,
          Paypal et Maestro.
        </span>

      </div>
    </div>

    <div class="little-card-blue  card-tarace 2">
      <!-- <div class="card_image">
  
         </div> -->
      <div class="card_content">
        <div [style.backgroundImage]="'url('+ '../.././assets/Icon-garantie-13.png' +')'" class="card-logo"></div>

        <h2 class="ec-title-blue">
          Garantie un an

        </h2>
        <span class="ec-card-descr-blue">
          Tous nos néons posèdent une garantie d'un an à compter de la data d'achat. Vous devez retourner un article
          défectueux ? Contactez-nous avec le numéro de commande !
        </span>

      </div>
    </div>


    <div class="little-card-blue  card-tarace 3">
      <!-- <div class="card_image">
     
            </div> -->
      <div class="card_content">
        <div [style.backgroundImage]="'url('+ '../.././assets/Icon-livraison-07.png' +')'" class="card-logo"></div>

        <h2 class="ec-title-blue">
          Livraison offerte

        </h2>
        <span class="ec-card-descr-blue">
          Nous vous offrons la livraison pour chaque néon commandé.
        </span>

      </div>
    </div>


    <div class="little-card-blue  card-tarace 4">
      <!-- <div class="card_image">
     
            </div> -->
      <div class="card_content">
        <div [style.backgroundImage]="'url('+ '../.././assets/Icon-livre-sous-quinze-jours-10.png' +')'" class="card-logo"></div>

        <h2 style="font-size: 17px;" class="ec-title-blue">
          Livré sous 15 jours

        </h2>
        <span class="ec-card-descr-blue">
          Nous livrons dans un délai de 15 à 20 jours selon la production et la destination. En cas de demande urgente
          merci de nous contacter directement
          afin de procéder à une "Livraison express"
        </span>

      </div>
    </div>




  </div>
</div>

<div *ngIf="showLastPage" style=" padding-left: 0 !important;" class="ec-bigbox-detail row">
  <div class="col-2 forBigPussy"></div>
    <div class = 'col-md-8 col-sm-12'>
        <div *ngIf="neonSelected.state !== 'created'"  [style.backgroundImage]="'url('+ '../.././assets/Mercipage-03.png' +')'" 
      
        class="neon-canvas2"></div>
        <div class="merci-cont">
          <h1  class='remerciements'>Commande validée !</h1>
          <span class='merci-descr'>Merci pour votre commande, un email de confirmation vous à été envoyée. Vous recevrez votre néon à l'adresse indiquée <br/> dans les 20 prochains jours. Envoyez nous une photo !</span>
          <button  (click)="resetView();"
          class="next-btn revenir big-btn">Retour à mon espace</button>
        </div>
      </div>
    <div class="col-2 forBigPussy"></div>

</div>

<div id="open-modal" class="modal-window">
  <div>
    <a href="#" title="Close" class="modal-close">Close</a>
    <h1>Décrivez nous votre problème: </h1>
    <div style="height: 220px;">
      <textarea (change)="onChangeAdditionnalInfo($event.target.value)" [value]="customMail" placeholder=""
        class="large-input mt5">

                            </textarea>
    </div>
    <button (click)="sendCustomEmail()" style="float: right;" class="next-btn" type="button">Envoyer</button>

  </div>


</div>


<div *ngIf="loading" class="blendContainer">
  <svg id="progress-circle" class="animation-circle" viewBox="0 0 50 50">
    <!--<circle cx="25" cy="25" r="20" fill="none" stroke="#e2ecf8" stroke-width="7" />-->
    <circle stroke="#f4cc20" class="path" cx="25" cy="25" r="20" fill="none" stroke-width="8.3"></circle>
  </svg>
</div>

<div id="dpl-snackbar" [class]="snackbarClass">{{snackMsg}}</div>
