<div  *ngIf="!neonSelected" class="ec-bigbox">
  <div class="row ec-top-row">
    <div class="col-4 ec-petit-prince"></div>
    <div class="col-1"></div>
    <div class="col-7">
      <div class='ec-list-title'>
        <h2 class="ec-title">Tous vos néons</h2>
        <button class="prev-btn">Créer un nouveau dessin</button>
      </div>
  
      <div class="ec-list-cont">
        <table>
          <thead>
            <tr>
              <th style="padding-left: 5%;">Vos dessins techniques</th>
      
              <th >Etat</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let command of neonList; let i = index" (click)="goToNeonDetail(command)">
              <td data-column="Vos dessins techniques"><div class="table-position-circle">{{i+1}}</div>{{command.name}}</td>
              <td data-column="Etat">{{command.state}}</td>
            </tr>

  
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="row ec-bottom-row">
    <div class="cards-list">
  
      <div class="card 1">
       <div class="card_image">

       </div>
       <div class="card_content">
        <span class="ec-card-title">
          Paiement sécurisé

        </span>
        <span class="ec-card-descr">
          Les paiements sur notre site sont sécurisés. Nous acceptons tous les paiement dont Visa, Master Card, Amex, Paypal et Maestro.
        </span>

      </div>
      </div>
      
        <div class="card 2">
          <div class="card_image">

          </div>
          <div class="card_content">
           <span class="ec-card-title">
             Livraison
           </span>
           <span class="ec-card-descr">
             Nous vous livrons dans un délai de deux à trois semaines, selon la production et la destination. En cas de demande urgente merci de nous contacter directement afin de procéder à une "Commande express"
           </span>
   
         </div>
      </div>
      
      <div class="card 3">
        <div class="card_image">

        </div>
        <div class="card_content">
         <span class="ec-card-title">
           Garantie
         </span>
         <span class="ec-card-descr">
           Tous nos néons possèdent une garantie d'un an à compter de la data d'achat. Si vous devez retourner un article défectueux, veuillez 
           nous contacter avec votre numéro de commande et les détails concernant le produit que vous souhaitez retourner !
         </span>
 
       </div>
      </div>
        
        
      
      </div>
  </div>
</div>


<div *ngIf="neonSelected" class='ec-bigbox-detail'>
    <button  style="margin-bottom: 1.5%;" class="prev-btn" (click)="neonSelected = null">Précédent</button>

  <h2  style="margin-bottom: 3%;">Néon LED "{{neonSelected.name}}"</h2>

  <div class="ec-top-row-detail row">
    <div class="col-8 neon-canvas-cont">
      <div class="neon-canvas"></div>
      <div class="neon-bar">
        <div class="neon-bar-item">Incassable</div>
        <div class="neon-bar-item">Réistant à l'eau</div>
        <div class="neon-bar-item">50 000 heures</div>
        <div class="neon-bar-item">Technologie LED</div>
        <div style="flex: 0.6"></div>

        <div class="bar-btn-cont">
            <button  class="prev-btn" >Télécharger mon dessin</button>
            <button   class="prev-btn" >Demander une notification</button>

        </div>
      </div>

    </div>
    <div class="col-4">
        <table>
            <thead>
              <tr>
                <th class='detail-configu-title'>Configuration</th>
                <th class='detail-configu-title'></th>

              </tr>
            </thead>
            <tbody>
              <tr >
                <td  style="font-family: Mukta-Bold;" data-column="Vos dessins techniques">Texte</td>
                <td style="font-family: Mukta-Regular;" data-column="Etat">{{neonSelected.name}}</td>
              </tr>
              <tr >
                <td style="font-family: Mukta-Bold;" data-column="Vos dessins techniques">Typographie</td>
                <td style="font-family: Mukta-Regular;" data-column="Etat">{{neonSelected.typo}}</td>
              </tr>
              <tr >
                <td  style="font-family: Mukta-Bold;" data-column="Vos dessins techniques">Couleurs</td>
                <td style="font-family: Mukta-Regular;" data-column="Etat">{{neonSelected.colors}}</td>
              </tr>
              <tr >
                <td  style="font-family: Mukta-Bold;" data-column="Vos dessins techniques">Hauteur</td>
                <td  style="font-family: Mukta-Regular;" data-column="Etat">{{neonSelected.height}}cm</td>
              </tr>
              <tr >
                  <td  style="font-family: Mukta-Bold;" data-column="Vos dessins techniques">Etat</td>
                  <td  style="font-family: Mukta-Regular;" data-column="Etat">{{neonSelected.state}}</td>
                </tr>
      
            </tbody>
          </table>

          <div class="neon-tarif-cont">
            <div class="neon-tarif">
              <span class="neon-tarif-price">Tarif: {{neonSelected.price}}$</span>
              <span class="neon-tarif-blabla">Livraison incluse </span>

            </div>
            <button  style="margin-right: 5%;" class="next-btn">Commander</button>
          </div>
    </div>

  </div>
  <div style="margin-top: 10%;" class="ec-bottom-row row">
      <h1 class="ec-title">Un service sûr et complet</h1>

      <div class="cards-list">
  
          <div class="little-card  card-tarace 1">
           <!-- <div class="card_image">
    
           </div> -->
           <div class="card_content">
            <span class="ec-card-title">
              Paiement sécurisé
            </span>
            <span class="ec-card-descr">
              Les paiements sur notre site sont sécurisés. Nous acceptons tous les paiement dont Visa, Master Card, Amex, Paypal et Maestro.
            </span>
    
          </div>
          </div>

          <div class="little-card  card-tarace 2">
           <!-- <div class="card_image">
    
           </div> -->
           <div class="card_content">
            <span class="ec-card-title">
              Garantie un an
    
            </span>
            <span class="ec-card-descr">
              Tous nos néons posèdent une garantie d'un an à compter de la data d'achat. Vous devez retourner un article défectueux ? Contactez-nous avec le numéro de commande !
            </span>
    
          </div>
          </div>

          
          <div class="little-card  card-tarace 3">
              <!-- <div class="card_image">
       
              </div> -->
              <div class="card_content">
               <span class="ec-card-title">
                 Livraison offerte
       
               </span>
               <span class="ec-card-descr">
                 Nous vous offrons la livraison pour chaque néon commandé.
               </span>
       
             </div>
             </div>

             
          <div class="little-card  card-tarace 4">
              <!-- <div class="card_image">
       
              </div> -->
              <div class="card_content">
               <span class="ec-card-title">
                  Livré sous 15 jours
       
               </span>
               <span class="ec-card-descr">
                 Nous livrons dans un délai de 15 jours selon la production et la destination. En cas de demande urgente merci de nous contacter directement
                 afin de procéder à une "Livraison express"
               </span>
       
             </div>
             </div>



          
          </div>
  </div>

</div>


<div class="ec-bigbox" *ngIf="!commandMode">
  <div class="row commandMainCont">
    <div class="col-6 command-form-cont">
      <h2>Informations de livraison</h2>
      <div class="command-form-card">

      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
      <div class="big-card  ">
        <!-- <div class="card_image">
 
        </div> -->
        <div style="padding: 0 !important" class="card_content">
         <span style='margin-left: 20px !important; margin-top: 3%;' class="ec-card-title">
           Récapitulatif
         </span>

         <div  class="recapList row">
            <div  style='margin-left: 20px !important;' class="row">
              <div class="col-5">Néon LED "{{neonSelected.name}}"</div>
              <div class="col-2"></div>
              <div class="col-5">{{neonSelected.price}}$</div>

            </div>

            <div style='margin-left: 20px !important;' class="row">
              <div class="col-5">Livraison</div>
              <div class="col-2"></div>
              <div class="col-5">Gratuit</div>

            </div>

         </div>
  
         <div class=" ttcList">
          <div class="col-4 ttc">Total TTC</div>
          <div class="col-4 ttc">{{neonSelected.price}}$</div>

        </div>
       </div>
       </div>
    </div>

  </div>

  <div class="row commandBotCont">
    <div class="col-6 command-form-cont">
      <h2>Mode de livraison</h2>
      <div class="tiny-card">
          <input style="margin-right: 10px; align-self: center;" type="checkbox" />
          <div class="livraisonDom">Livraison à domicile: 15 jours ouvrés</div>
        </div>


            <!-- <button   class="next-btn">Passer au paiement</button> -->

    </div>
  </div>

</div>