.login-container {
    font-family: Mukta-Regular, sans-serif;
background-color: transparent !important;
// min-height: 100vh;
 }

 .login-title {
     font-family: Nunito-Black, sans-serif;
     text-align: center;
    color: #000b31;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%;
 
 }

 .login-row {
     margin-bottom: 7%;
 }
 .step-container-inner {
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

 .login-step-container {
     align-self: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start   ;
    border-radius: 15px;
    padding: 1.5rem;
    width: 80%;
    min-height: 500px;    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.user-info-row-cont {
    display: flex;
    flex-direction: column;
}

.user-info-row-title {
 font-size: 17px;
 font-family: Mukta-Regular, sans-serif;
 padding-left: 20px;
 padding-right: 20px;
 color: #000B31;
}

.basic-input {
    background-color: #F4F4F4;
    color:  #000B31;
    height: 35px;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    width: 100%;
    font-family: Mukta-Regular, sans-serif;
    outline: none;
}

.login-btn {
    align-self: center;
    margin-top: 8%;
    min-width: 200px;
}

.signup-btn {
    align-self: center;
    margin-top: 3%;
    min-width: 200px;
}

.errorMessage {
    color: #F44336;
    font-family: Mukta-Bold;
    text-align: center;
    font-size: 11px;
}

.login-header {
    font-family: Nunito-Black, sans-serif;
    color: white;
    align-self: center;
    text-align: center;
    margin-bottom: 10%;
    font-size: 2.5em;
}


.blendContainer{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    opacity: .5;
    z-index: 5;
    background: white;
    background-blend-mode: multiply;
  }
  
/* The snackbar - position it at the bottom and in the middle of the screen */
#dpl-snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 300px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    border-radius: 5px;
    box-shadow: 0 6px 16px 0 rgba(8, 1, 120, 0.3);
    background-color: #000B31;  text-align: center; /* Centered text */
    padding: 10px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 9999999; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    color: #F4CC20;
    bottom: 30px; /* 30px from the bottom */
    font-family: Nunito-Black, sans-serif;
    font-size: 17px;
  
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  .show {
    visibility: visible !important; /* Show the snackbar */
  
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    //-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    //animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .login-header, .login-title{
    font-size: 32px;
  }
}
