
<aw-wizard style="width: 100%;">

  <div   class="neon-wizard-container row">
    <div class="col-3"></div>
      <aw-wizard-step stepTitle="" class="col-6 step-container">
            <h4 class="neon-wizard-header flex1">Faîtes votre choix</h4>

                  <div class="neon-wizard-btn-container flex3 ">
            <button type="button" class="form-btn col-5" (click)="onCompleteStep(0, 'text', null)" awNextStep>TEXTE</button>
            <button type="button" class="form-btn  col-5" (click)="onCompleteStep(0, 'image', null)" awNextStep>IMAGE</button>
        </div>
  
        
         </aw-wizard-step>
         <aw-wizard-step stepTitle="textOrImage" class="col-6 step-container">
           <div *ngIf="userChoices[0] === 'text'">
                  <div class="neon-wizard-header"><h4>Ecrivez votre texte</h4></div>
                  <input (keyup)="onChangeTextTitle($event.target.value)" placeholder="Votre texte " [value]="textInput"  class="basic-input pb5  wizard-element"/>

           </div>
           <div *ngIf="userChoices[0] === 'image'">
                      <div class="neon-wizard-header"><h4>Importer votre image</h4></div>
                      <input (change)="onSelectFile($event)" type="file"  placeholder="" class="basic-input"/>
               

                      <div class="neon-wizard-header"><h4>Une info en particulier à nous donner ?</h4></div>
                      <textarea (keyup)="onChangeAdditionnalInfo($event.target.value)" [value]="imageAdditionalInfo" placeholder="" class="large-input">

                        </textarea>               
        
            </div>      


       

           <div class="neon-wizard-btn-container">
              <button class="prev-btn col-3" type="button" awPreviousStep>Précedent</button>
              <button class="next-btn col-3" type="button" awNextStep>Suivant</button>
          </div>
 
         </aw-wizard-step> 
         <aw-wizard-step *ngIf="userChoices[0] === 'text'" stepTitle="" class="col-6 step-container">
          
                  <div class="neon-wizard-header"><h4>Choisissez votre style</h4></div>
                  <div class="form-style-container pb5">  
                      <div (click)="styleSelected = 0" [ngClass]="{'style-item yellow-selected': styleSelected===0, 'style-item':styleSelected!=='0' }" ></div>
                      <div (click)="styleSelected = 1" [ngClass]="{'style-item yellow-selected': styleSelected===1, 'style-item':styleSelected!=='1' }" ></div>
                      <div (click)="styleSelected = 2" [ngClass]="{'style-item yellow-selected': styleSelected===2, 'style-item':styleSelected  !=='2' }"  ></div>
                  </div>
          <!-- <div class='item-container npb'>
            <div class="neon-wizard-header"><h4>Choisissez votre format</h4></div>
            <div class="row">
                <label><input type="checkbox" class="ios-switch"  /><div><div></div></div></label>
                <span class="tailleperso">Taille personalisée</span>
            </div>
  

        </div>   -->


        <!-- <div class='item-container npt npb  row'> -->

                
              <!-- <div class="size-container row">
                 <div  class="circle-cont col" (click)="selectedFormatSize = i" *ngFor="let format of formatSizes;  let i = index"   >
                    <div [ngClass]="{'circle yellow-selected': selectedFormatSize===i, 'circle':selectedFormatSize!=='2' }">{{format.size}}</div>
                    
                 <div class=format-subtitle>{{format.width}}</div> 
                 </div>

              </div></div> -->

<!-- 
        <div class='item-container npt npb'>
            <div class="neon-wizard-header"><h4>Choisissez votre support</h4></div>
          <div class="form-style-container-small">    
              <div (click)="imageSupportSelected = 1" [ngClass]="{'style-item-small yellow-selected': imageSupportSelected===1, 'style-item-small':imageSupportSelected!=='2' }" >
                    
                    <span  style='position: relative; top: 40%'>Image support Standard</span>
              </div>
              <div (click)="imageSupportSelected = 2" [ngClass]="{'style-item-small yellow-selected': imageSupportSelected===2, 'style-item-small':imageSupportSelected  !=='1' }"  >
                   
                    <span  style='position: relative; top: 40%'> Image support detournée</span>
              </div>
          </div>  
      </div> -->
           <div class="neon-wizard-btn-container row">
              <button  class="prev-btn col-3" type="button" awPreviousStep>Précedent</button>
              <button class="next-btn col-3" type="button" awNextStep>Suivant</button>
          </div>

         </aw-wizard-step>
         <aw-wizard-step *ngIf="userChoices[0] === 'text'" stepTitle="colors" class="col-6 step-container">
           
            <div class="neon-wizard-header"><h4>Choisissez une ou plusieurs couleurs</h4></div>
                
            <div class="wrapper">
                <div class="item-list">
                  <ul>
                    <li><div class="inner-circle"></div></li>
                    <li><div class="inner-circle"></div></li>
                    <li><div class="inner-circle"></div></li>
                    <li><div class="inner-circle"></div></li>
                    <li><div class="inner-circle"></div></li>
                    <li><div class="inner-circle"></div></li>
                    <li><div class="inner-circle"></div></li>
                    <li><div class="inner-circle"></div></li>

                  </ul>
                </div>
              </div>
     
 
            <div class="neon-wizard-btn-container">
               <button class="prev-btn col-3" type="button" awPreviousStep>Précedent</button>
               <button class="next-btn col-3" type="button" awNextStep>Suivant</button>

           </div>
 
          </aw-wizard-step>
         <aw-wizard-step stepTitle="format" class="col-6 step-container">
           
            <div class="neon-wizard-header"><h4>Choisissez votre format</h4></div>
           <div class="size-container row">
                 <div  class="circle-cont col" (click)="selectedFormatSize = i" *ngFor="let format of formatSizes;  let i = index"   >
                    <div [ngClass]="{'circle yellow-selected': selectedFormatSize===i, 'circle':selectedFormatSize!=='2' }">{{format.size}}</div>
                    
                 <!-- <div class=format-subtitle>{{format.width}}</div>  -->
                 </div>

              </div>
    

           <div class="neon-wizard-btn-container">
              <button class="prev-btn col-3" type="button" awPreviousStep>Précedent</button>
              <button class="next-btn col-3" type="button" awNextStep>Suivant</button>
          </div>

         </aw-wizard-step>
         <aw-wizard-step stepTitle="" class="col-6 step-container">
            <h4 class="neon-wizard-header flex1">Choisissez votre support</h4>

                  <div class="neon-wizard-btn-container flex3 ">
            <button type="button" class="form-btn  col-5" (click)="onCompleteStep(0, 'text', null)" awNextStep>Image détouré</button>
            <button type="button" class="form-btn  col-5" (click)="onCompleteStep(0, 'image', null)" awNextStep>Image standard</button>
        </div>
  
        
         </aw-wizard-step>

         <aw-wizard-step stepTitle="" class="col-6 step-container">
            <h4 class="neon-wizard-header flex1">Vous souhaitez faire briller un projet</h4>

                  <div class="neon-wizard-btn-container flex3 ">
            <button type="button" class="form-btn  col-5" (click)="onCompleteStep(0, 'text', null)" awNextStep>Professionnel</button>
            <button type="button" class="form-btn  col-5" (click)="onCompleteStep(0, 'image', null)" awNextStep>Image standard</button>
        </div>
  
        
         </aw-wizard-step>
         
         <div class="col-2"></div>
  </div>
 
  <aw-wizard-completion-step awEnableBackLinks>
    Final wizard step (Login ou sign up)
    <button  class="prev-btn col-3" type="button" awPreviousStep>Précedent</button>
  </aw-wizard-completion-step>

</aw-wizard>