/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Mukta-Regular; 
    src:  url('../.././assets/fonts/Mukta-Regular.ttf')  format('truetype');
  }
@font-face {
    font-family: Mukta-Bold;
    src:  url('../.././assets/fonts/Mukta-Bold.ttf')  format('truetype');
  }
  @font-face {
    font-family: Nunito-Black;
    src:  url('../.././assets/fonts/Nunito-Black.ttf')  format('truetype');
  }



// #000b31
// font-family: 'Mukta', sans-serif;

.npb {
  padding-bottom: 0 !important;
}
.npt {
  padding-top: 0 !important;
}

.pb5 {
  padding-bottom: 5% !important;
}

.nmt {
  margin-top: 0 !important;
}

.mb5 {
  margin-bottom: 5% !important;
}

.mb3 {
  margin-bottom: 1.5% !important;
}
.mt5 {
  margin-top: 5% !important;
}






*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.form-container {
    font-family: 'Nunito', sans-serif;
background-color: #000b31;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: flex-start;
 }
.neon-wizard-container {
    width: 100%;
    width: 100%;
    margin-top: 5%;

}
// #QCWqTdN6I9KHogXsa
.step-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start   ;
    border-radius: 7px;
    padding-left: 50px;
    height: 315px;
    padding-right: 50px; 
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.wizard-element {
    margin-top: 5% !important;
}

.centered {
    align-self: center;
}
.basic-input {
    background-color: #F4F4F4;
    color:  #000B31;
    height: 35px;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    width: 100%;
    font-family: Mukta-Regular, sans-serif;
    outline: none;
}
.large-input {
    background-color: #F4F4F4;
    color:  #000B31;
    min-height: 50px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    width: 100%;
    font-family: Mukta-Regular, sans-serif;
    outline: none;
}

.item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 5%;
}
.neon-wizard-header,.illustration, .neon-wizard-btn-container  {
    text-align: center;
}
.neon-wizard-header {
    margin-top: 20px;
    font-family: Nunito-Black, sans-serif;
    color: #000B31;

}
.flex1 {
    flex:1 !important;
}
.illustration {
    border-radius: 15px;
    background-color: #F4F4F4;
    text-align: center;
    height: 40%;
    display: flex;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 8%;
}

.neon-wizard-btn-container {
    display: flex;
        justify-content: space-around;
        flex: 2;
}
.flex3 {
    flex:3 !important;
}
.mt15 {
  margin-top: 10% !important;
}
.form-btn:hover {
    color: #F4CC20 !important;
}
.form-btn {
height: 100px;
border: none;
    // align-self: flex-end;
font-family: Mukta-Bold, sans-serif;
font-size: 1.5em;
border-radius: 10px;
letter-spacing: 0.8px;
background-color: white;
box-shadow: 0 0 6px 2px rgba(0,0,0,.1);
cursor: pointer;
outline: none !important;}

.form-btn:hover {
    transform: scale(1.1);
}

.neon-wizard-btn-container > button {
margin: 10px;
}
.steps-indicator {
// display: none !important;
}

.form-style-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}
.style-item {
    width: 30%;
    border-radius: 15px;
    height: 100px;
    background-color: #F4F4F4;
    cursor: pointer;
}
.form-style-container-small {
    width: 70%;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    align-self: center;
}

.style-item-small {
    width: 45%;
    border-radius: 15px;
    height: 10vh;
    background-color: #F4F4F4;
    cursor: pointer;
    text-align: center;
}

.yellow-selected {
    border: 1.5px solid #F4CC20;
}
.mt3 {
  margin-top: 2.5%;
}
.size-container {
    display: flex;
}
.circle-cont {
    align-self: center;
    .circle {
        height: 0;
        width: 50%;
        display: block;
        padding: calc(25% - 2px) 0;
        line-height: 0;
        border-radius: 50%;
        background-size: cover;
        background-color: #F4F4F4;
        margin: 5px	;
        background-position: 50%;
        text-align: center;
cursor: pointer;        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        
    }
}



.size-container {
	&:after {
		content: "";
		clear: both;
		display: table;
	}
	.col {
		width: 100%;
		float: left;
		padding: 20px;
		
		@media (min-width:450px) {
			width: 50%;
		}
	}
}

input[type="checkbox"] { 
    position: absolute;
    opacity: 0;
}   


input[type="checkbox"].ios-switch + div {
    vertical-align: middle;
    width: 40px;    height: 20px;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: .4s;
    -webkit-transition-property: background-color, box-shadow;
    box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
    margin: 15px 1.2em 15px 2.5em;
}

/* Checked Track (Blue) */
input[type="checkbox"].ios-switch:checked + div {
    width: 40px;
    background-position: 0 0;
    background-color: #F4CC20;
    border: 1px solid black;
    box-shadow: inset 0 0 0 10px #F4CC20;
}


/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
    float: left;
    width: 18px; height: 18px;
    border-radius: inherit;
    background: #ffffff;
    -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: transform, background-color, box-shadow;
    -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
    -moz-transition-duration: 0.4s;
    -moz-transition-property: transform, background-color;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    margin-top: 1px;
    margin-left: 1px;
}

label {
    margin-bottom:  0 !important    ;
}

.tailleperso {
    align-self: center;
    font-family: Mukta-Regular, sans-serif;
}
/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div {
    -webkit-transform: translate3d(20px, 0, 0);
    -moz-transform: translate3d(20px, 0, 0);
    background-color: #ffffff;
}

.wrapper {
    margin: auto;
  }
  
  .item-list {
    max-width: 960px;
    max-height: 150px;
    ul {
      list-style: none;
      margin: 0 -30px;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      
      li {
        flex: 0 0 calc(25% - 60px);
        position: relative;
        margin: 0 30px 10px 30px;        
        &:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 100%;
        }
        .inner-circle {
          border-radius: 100%;
          background: #F4F4F4;
          text-decoration: none;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: white;
        }
      }
    }
  }

  .user-info-row-cont {
      display: flex;
      flex-direction: column;
  }

  .user-info-row-title {
   font-size: 0.8em;
   font-family: Mukta-Regular, sans-serif;
   padding-left: 20px;
   padding-right: 20px;
   color: #000B31;
}

// .main{
//     margin: 0 auto;
//     flex: 2;
//   }
  
  .smallHeight {
      height: 28px !important;
  }
  

  

  .neon-wizard-input-cont {
      display: flex;
      justify-content: space-between;
  }
.textcenter {
    text-align: center  ;
}
  .nestedInput {
      width: 45%;
  }

  a {
      text-decoration: underline;
  }
//   .cards {
//     display: flex;
//     flex-wrap: wrap;
//     list-style: none;
//     margin: 0;
//     justify-content: space-around;  
//     padding: 0;
//   }
//   .card_btn {
//     border-radius: 25px;
//     color: black;
//     background-color: #f4cc20;
//     outline: none !important;
//     min-height: 35px;
//     border: none;
//     font-size: 1.12rem;
//     font-family: Mukta-Bold, sans-serif;
//     cursor: pointer;
//     height: 42px;
//     letter-spacing: 0.4px;
//     border: none;
//     border-radius: 45px;
//     box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
//     transition: all 0.3s ease 0s;
//     width: 80%;
//     align-self: center;
// }
  
//   .cards_item {
//     display: flex;
//     padding: 1rem;
//     height: 100%;
//     border-radius: 15px;
//     border: 1px solid black;
//     background-color: white;
//     text-align: center;
//   }
  
//   @media (min-width: 40rem) {
//     .cards_item {
//       width: 45%;
//     }
//   }
  
//   @media (min-width: 30rem) {
//     .cards_item {
//     //   width: 33.333 %;
//     }
//   }
  
//   .card {
//     background-color: white;
//     border-radius: 0.25rem;
//     box-shadow: 0 20px 40px -14px white;
//     display: flex;
//     border: none !important;
//     flex-direction: column;
//     overflow: hidden;
//   }
  
//   .card_content {
//     height: 100%    ;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;

//   }
  
//   .card_title {
//     color: #000B31;
//     font-size: 1.2rem;
//     letter-spacing: 1px;
//     font-family: Nunito-Black, sans-serif;
//     margin: 0px;
//   }
  
//   .card_text {
//     color: #000B31;
//     font-size: 0.875rem;
//     line-height: 1.5;
//     font-size: 1.1rem;
//     font-family: Muktar-Regular , sans-serif;
//     margin-bottom: 1.25rem;    
//     font-weight: 400;
//   }




// BELEK 




aw-wizard {
    display: flex;
    justify-content: flex-start; }
    aw-wizard .wizard-steps {
      top: 0;
      display: flex; }
  
  aw-wizard.horizontal {
    flex-direction: column; }
    aw-wizard.horizontal .wizard-steps {
      width: 100%;
      flex-direction: row; }
  
  aw-wizard.vertical {
    flex-direction: row; }
    aw-wizard.vertical .wizard-steps {
      min-width: calc(100% - 280px);
      width: 80%;
      height: 100%;
      flex-direction: column; }
  
  aw-wizard-step,
  aw-wizard-completion-step {
    height: auto;
    width: 100%; }
  
  aw-wizard-navigation-bar ul.steps-indicator * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  
  aw-wizard-navigation-bar ul.steps-indicator li {
    position: relative;
    pointer-events: none; }
    aw-wizard-navigation-bar ul.steps-indicator li a .label {
      color: #808080;
      line-height: 14px;
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      transition: 0.25s; }
  
  aw-wizard-navigation-bar ul.steps-indicator li.navigable {
    pointer-events: auto; }
    aw-wizard-navigation-bar ul.steps-indicator li.navigable a {
      cursor: pointer; }
    aw-wizard-navigation-bar ul.steps-indicator li.navigable a:hover .label {
      color: #4d4d4d; }
  
  aw-wizard-navigation-bar.horizontal ul.steps-indicator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    width: 100%;
    list-style: none; }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator.steps-2:before {
      left: 25%;
      right: 25%; }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator.steps-2 li {
      width: 50%; }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator.steps-3:before {
      left: 16.66667%;
      right: 16.66667%; }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator.steps-3 li {
      width: 33.33333%; }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator.steps-4:before {
      left: 12.5%;
      right: 12.5%; }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator.steps-4 li {
      width: 25%; }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator.steps-5:before {
      left: 10%;
      right: 10%; }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator.steps-5 li {
      width: 20%; }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator.steps-6:before {
      left: 8.33333%;
      right: 8.33333%; }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator.steps-6 li {
      width: 16.66667%; }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator.steps-7:before {
      left: 7.14286%;
      right: 7.14286%; }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator.steps-7 li {
      width: 14.28571%; }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator.steps-8:before {
      left: 6.25%;
      right: 6.25%; }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator.steps-8 li {
      width: 12.5%; }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator.steps-9:before {
      left: 5.55556%;
      right: 5.55556%; }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator.steps-9 li {
      width: 11.11111%; }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator.steps-10:before {
      left: 5%;
      right: 5%; }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator.steps-10 li {
      width: 10%; }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator li {
      margin: 0;
      padding: 0;
      text-align: center; }
      aw-wizard-navigation-bar.horizontal ul.steps-indicator li a .label {
        display: inline-block;
        padding-top: 10px;
        text-align: center; }
  
  aw-wizard-navigation-bar.vertical {
    max-width: 280px;
    width: 20%;
    height: 100%;
    position: sticky;
    top: 0; }
    aw-wizard-navigation-bar.vertical ul.steps-indicator {
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none;
      margin: auto; }
      aw-wizard-navigation-bar.vertical ul.steps-indicator li:not(:last-child) {
        margin-bottom: 0;
        padding-bottom: 10px; }
      aw-wizard-navigation-bar.vertical ul.steps-indicator li a {
        display: flex;
        flex-direction: row;
        align-items: center; }
        aw-wizard-navigation-bar.vertical ul.steps-indicator li a .label {
          margin-left: 15px;
          text-align: left; }
  
  aw-wizard-navigation-bar.horizontal.small ul.steps-indicator {
    padding: 24px 0 10px 0; }
    aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li:not(:last-child):before {
      background-color: #E6E6E6;
      content: '';
      position: absolute;
      height: 1px;
      width: calc(100% - 14px);
      top: -7px;
      left: calc(50% + 7px); }
    aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li .step-indicator {
      top: -14px;
      left: calc(50% - 7px);
      position: absolute;
      width: 14px;
      height: 14px;
      text-align: center;
      vertical-align: middle;
      line-height: 14px;
      transition: 0.25s;
      border-radius: 100%;
      background-color: #E6E6E6; }
    aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li.optional .step-indicator {
      background-color: #F4CC20; }
    aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li.done .step-indicator {
      background-color: #F4CC20; }
    aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li.current .step-indicator {
      background-color: #808080; }
    aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li.editing .step-indicator {
      background-color: #FF0000; }
    aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li.completed .step-indicator {
      background-color: #F4CC20; }
    aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li.navigable a:hover .step-indicator {
      position: absolute;
      width: 14px;
      height: 14px;
      text-align: center;
      vertical-align: middle;
      line-height: 14px;
      transition: 0.25s;
      border-radius: 100%;
      background-color: #d9d9d9; }
    aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li.navigable.optional a:hover .step-indicator {
      background-color: #20ed20; }
    aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li.navigable.done a:hover .step-indicator {
      background-color: #2d862d; }
    aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li.navigable.current a:hover .step-indicator {
      background-color: #737373; }
    aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li.navigable.editing a:hover .step-indicator {
      background-color: #e60000; }
    aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li.navigable.completed a:hover .step-indicator {
      background-color: #2d862d; }
  
  aw-wizard-navigation-bar.horizontal.large-filled ul.steps-indicator {
    padding: 60px 0 10px 0; }
    aw-wizard-navigation-bar.horizontal.large-filled ul.steps-indicator li:not(:last-child):before {
      background-color: #E6E6E6;
      content: '';
      position: absolute;
      height: 1px;
      width: calc(100% - 50px);
      top: -25px;
      left: calc(50% + 25px); }
    aw-wizard-navigation-bar.horizontal.large-filled ul.steps-indicator li .step-indicator {
      top: -50px;
      left: calc(50% - 25px);
      position: absolute;
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      line-height: 50px;
      transition: 0.25s;
      border-radius: 100%;
      background-color: #E6E6E6; }
    aw-wizard-navigation-bar.horizontal.large-filled ul.steps-indicator li.optional .step-indicator {
      background-color: #38ef38; }
    aw-wizard-navigation-bar.horizontal.large-filled ul.steps-indicator li.done .step-indicator {
      background-color: #339933; }
    aw-wizard-navigation-bar.horizontal.large-filled ul.steps-indicator li.current .step-indicator {
      background-color: #808080; }
    aw-wizard-navigation-bar.horizontal.large-filled ul.steps-indicator li.editing .step-indicator {
      background-color: #FF0000; }
    aw-wizard-navigation-bar.horizontal.large-filled ul.steps-indicator li.completed .step-indicator {
      background-color: #339933; }
    aw-wizard-navigation-bar.horizontal.large-filled ul.steps-indicator li.navigable a:hover .step-indicator {
      position: absolute;
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      line-height: 50px;
      transition: 0.25s;
      border-radius: 100%;
      background-color: #d9d9d9; }
    aw-wizard-navigation-bar.horizontal.large-filled ul.steps-indicator li.navigable.optional a:hover .step-indicator {
      background-color: #20ed20; }
    aw-wizard-navigation-bar.horizontal.large-filled ul.steps-indicator li.navigable.done a:hover .step-indicator {
      background-color: #2d862d; }
    aw-wizard-navigation-bar.horizontal.large-filled ul.steps-indicator li.navigable.current a:hover .step-indicator {
      background-color: #737373; }
    aw-wizard-navigation-bar.horizontal.large-filled ul.steps-indicator li.navigable.editing a:hover .step-indicator {
      background-color: #e60000; }
    aw-wizard-navigation-bar.horizontal.large-filled ul.steps-indicator li.navigable.completed a:hover .step-indicator {
      background-color: #2d862d; }
  
  aw-wizard-navigation-bar.horizontal.large-empty ul.steps-indicator {
    padding: 60px 0 10px 0; }
    aw-wizard-navigation-bar.horizontal.large-empty ul.steps-indicator li:not(:last-child):before {
      background-color: #E6E6E6;
      content: '';
      position: absolute;
      height: 1px;
      width: calc(100% - 50px);
      top: -25px;
      left: calc(50% + 25px); }
    aw-wizard-navigation-bar.horizontal.large-empty ul.steps-indicator li .step-indicator {
      top: -50px;
      left: calc(50% - 25px);
      position: absolute;
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      line-height: 46px;
      transition: 0.25s;
      border-radius: 100%;
      border-width: 2px;
      border-style: solid;
      border-color: #E6E6E6; }
    aw-wizard-navigation-bar.horizontal.large-empty ul.steps-indicator li.optional .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #38ef38; }
    aw-wizard-navigation-bar.horizontal.large-empty ul.steps-indicator li.done .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #339933; }
    aw-wizard-navigation-bar.horizontal.large-empty ul.steps-indicator li.current .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #808080; }
    aw-wizard-navigation-bar.horizontal.large-empty ul.steps-indicator li.editing .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #FF0000; }
    aw-wizard-navigation-bar.horizontal.large-empty ul.steps-indicator li.completed .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #339933; }
    aw-wizard-navigation-bar.horizontal.large-empty ul.steps-indicator li.navigable a:hover .step-indicator {
      position: absolute;
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      line-height: 46px;
      transition: 0.25s;
      border-radius: 100%;
      border-width: 2px;
      border-style: solid;
      border-color: #cdcdcd; }
    aw-wizard-navigation-bar.horizontal.large-empty ul.steps-indicator li.navigable.optional a:hover .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #12e212; }
    aw-wizard-navigation-bar.horizontal.large-empty ul.steps-indicator li.navigable.done a:hover .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #267326; }
    aw-wizard-navigation-bar.horizontal.large-empty ul.steps-indicator li.navigable.current a:hover .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #676767; }
    aw-wizard-navigation-bar.horizontal.large-empty ul.steps-indicator li.navigable.editing a:hover .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #cc0000; }
    aw-wizard-navigation-bar.horizontal.large-empty ul.steps-indicator li.navigable.completed a:hover .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #267326; }
  
  aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator {
    padding: 60px 0 10px 0; }
    aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li:not(:last-child):before {
      background-color: #E6E6E6;
      content: '';
      position: absolute;
      height: 1px;
      width: calc(100% - 50px);
      top: -25px;
      left: calc(50% + 25px); }
    aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li .step-indicator {
      top: -50px;
      left: calc(50% - 25px);
      position: absolute;
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      line-height: 50px;
      transition: 0.25s;
      border-radius: 100%;
      background-color: #E6E6E6;
      color: black; }
    aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.optional .step-indicator {
      background-color: #38ef38;
      color: black; }
    aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.done .step-indicator {
      background-color: #339933;
      color: black; }
    aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.current .step-indicator {
      background-color: #808080;
      color: black; }
    aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.editing .step-indicator {
      background-color: #FF0000;
      color: black; }
    aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.completed .step-indicator {
      background-color: #339933;
      color: black; }
    aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.navigable a:hover .step-indicator {
      position: absolute;
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      line-height: 50px;
      transition: 0.25s;
      border-radius: 100%;
      background-color: #d9d9d9;
      color: black; }
    aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.navigable.optional a:hover .step-indicator {
      background-color: #20ed20;
      color: black; }
    aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.navigable.done a:hover .step-indicator {
      background-color: #2d862d;
      color: black; }
    aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.navigable.current a:hover .step-indicator {
      background-color: #737373;
      color: black; }
    aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.navigable.editing a:hover .step-indicator {
      background-color: #e60000;
      color: black; }
    aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.navigable.completed a:hover .step-indicator {
      background-color: #2d862d;
      color: black; }
  
  aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator {
    padding: 60px 0 10px 0; }
    aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li:not(:last-child):before {
      background-color: #E6E6E6;
      content: '';
      position: absolute;
      height: 1px;
      width: calc(100% - 50px);
      top: -25px;
      left: calc(50% + 25px); }
    aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li .step-indicator {
      top: -50px;
      left: calc(50% - 25px);
      position: absolute;
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      line-height: 46px;
      transition: 0.25s;
      border-radius: 100%;
      border-width: 2px;
      border-style: solid;
      border-color: #E6E6E6;
      color: #E6E6E6; }
    aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.optional .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #38ef38;
      color: #38ef38; }
    aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.done .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #339933;
      color: #339933; }
    aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.current .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #808080;
      color: #808080; }
    aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.editing .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #FF0000;
      color: #FF0000; }
    aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.completed .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #339933;
      color: #339933; }
    aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.navigable a:hover .step-indicator {
      position: absolute;
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      line-height: 46px;
      transition: 0.25s;
      border-radius: 100%;
      border-width: 2px;
      border-style: solid;
      border-color: #cdcdcd;
      color: #cdcdcd; }
    aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.navigable.optional a:hover .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #12e212;
      color: #12e212; }
    aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.navigable.done a:hover .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #267326;
      color: #267326; }
    aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.navigable.current a:hover .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #676767;
      color: #676767; }
    aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.navigable.editing a:hover .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #cc0000;
      color: #cc0000; }
    aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.navigable.completed a:hover .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #267326;
      color: #267326; }
  
  aw-wizard-navigation-bar.vertical.small ul.steps-indicator {
    padding: 5px 5px 5px 19px; }
    aw-wizard-navigation-bar.vertical.small ul.steps-indicator li:not(:last-child):before {
      background-color: #E6E6E6;
      content: '';
      position: absolute;
      left: -7px;
      top: 14px;
      height: calc(100% - 14px);
      width: 1px; }
    aw-wizard-navigation-bar.vertical.small ul.steps-indicator li a {
      min-height: 14px; }
    aw-wizard-navigation-bar.vertical.small ul.steps-indicator li .step-indicator {
      top: 0;
      left: -14px;
      position: absolute;
      width: 14px;
      height: 14px;
      text-align: center;
      vertical-align: middle;
      line-height: 14px;
      transition: 0.25s;
      border-radius: 100%;
      background-color: #E6E6E6; }
    aw-wizard-navigation-bar.vertical.small ul.steps-indicator li.optional .step-indicator {
      background-color: #38ef38; }
    aw-wizard-navigation-bar.vertical.small ul.steps-indicator li.done .step-indicator {
      background-color: #339933; }
    aw-wizard-navigation-bar.vertical.small ul.steps-indicator li.current .step-indicator {
      background-color: #808080; }
    aw-wizard-navigation-bar.vertical.small ul.steps-indicator li.editing .step-indicator {
      background-color: #FF0000; }
    aw-wizard-navigation-bar.vertical.small ul.steps-indicator li.completed .step-indicator {
      background-color: #339933; }
    aw-wizard-navigation-bar.vertical.small ul.steps-indicator li.navigable a:hover .step-indicator {
      position: absolute;
      width: 14px;
      height: 14px;
      text-align: center;
      vertical-align: middle;
      line-height: 14px;
      transition: 0.25s;
      border-radius: 100%;
      background-color: #d9d9d9; }
    aw-wizard-navigation-bar.vertical.small ul.steps-indicator li.navigable.optional a:hover .step-indicator {
      background-color: #20ed20; }
    aw-wizard-navigation-bar.vertical.small ul.steps-indicator li.navigable.done a:hover .step-indicator {
      background-color: #2d862d; }
    aw-wizard-navigation-bar.vertical.small ul.steps-indicator li.navigable.current a:hover .step-indicator {
      background-color: #737373; }
    aw-wizard-navigation-bar.vertical.small ul.steps-indicator li.navigable.editing a:hover .step-indicator {
      background-color: #e60000; }
    aw-wizard-navigation-bar.vertical.small ul.steps-indicator li.navigable.completed a:hover .step-indicator {
      background-color: #2d862d; }
  
  aw-wizard-navigation-bar.vertical.large-filled ul.steps-indicator {
    padding: 5px 5px 5px 55px; }
    aw-wizard-navigation-bar.vertical.large-filled ul.steps-indicator li:not(:last-child):before {
      background-color: #E6E6E6;
      content: '';
      position: absolute;
      left: -25px;
      top: 50px;
      height: calc(100% - 50px);
      width: 1px; }
    aw-wizard-navigation-bar.vertical.large-filled ul.steps-indicator li a {
      min-height: 50px; }
    aw-wizard-navigation-bar.vertical.large-filled ul.steps-indicator li .step-indicator {
      top: 0;
      left: -50px;
      position: absolute;
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      line-height: 50px;
      transition: 0.25s;
      border-radius: 100%;
      background-color: #E6E6E6; }
    aw-wizard-navigation-bar.vertical.large-filled ul.steps-indicator li.optional .step-indicator {
      background-color: #38ef38; }
    aw-wizard-navigation-bar.vertical.large-filled ul.steps-indicator li.done .step-indicator {
      background-color: #339933; }
    aw-wizard-navigation-bar.vertical.large-filled ul.steps-indicator li.current .step-indicator {
      background-color: #808080; }
    aw-wizard-navigation-bar.vertical.large-filled ul.steps-indicator li.editing .step-indicator {
      background-color: #FF0000; }
    aw-wizard-navigation-bar.vertical.large-filled ul.steps-indicator li.completed .step-indicator {
      background-color: #339933; }
    aw-wizard-navigation-bar.vertical.large-filled ul.steps-indicator li.navigable a:hover .step-indicator {
      position: absolute;
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      line-height: 50px;
      transition: 0.25s;
      border-radius: 100%;
      background-color: #d9d9d9; }
    aw-wizard-navigation-bar.vertical.large-filled ul.steps-indicator li.navigable.optional a:hover .step-indicator {
      background-color: #20ed20; }
    aw-wizard-navigation-bar.vertical.large-filled ul.steps-indicator li.navigable.done a:hover .step-indicator {
      background-color: #2d862d; }
    aw-wizard-navigation-bar.vertical.large-filled ul.steps-indicator li.navigable.current a:hover .step-indicator {
      background-color: #737373; }
    aw-wizard-navigation-bar.vertical.large-filled ul.steps-indicator li.navigable.editing a:hover .step-indicator {
      background-color: #e60000; }
    aw-wizard-navigation-bar.vertical.large-filled ul.steps-indicator li.navigable.completed a:hover .step-indicator {
      background-color: #2d862d; }
  
  aw-wizard-navigation-bar.vertical.large-empty ul.steps-indicator {
    padding: 5px 5px 5px 55px; }
    aw-wizard-navigation-bar.vertical.large-empty ul.steps-indicator li:not(:last-child):before {
      background-color: #E6E6E6;
      content: '';
      position: absolute;
      left: -25px;
      top: 50px;
      height: calc(100% - 50px);
      width: 1px; }
    aw-wizard-navigation-bar.vertical.large-empty ul.steps-indicator li a {
      min-height: 50px; }
    aw-wizard-navigation-bar.vertical.large-empty ul.steps-indicator li .step-indicator {
      top: 0;
      left: -50px;
      position: absolute;
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      line-height: 46px;
      transition: 0.25s;
      border-radius: 100%;
      border-width: 2px;
      border-style: solid;
      border-color: #E6E6E6; }
    aw-wizard-navigation-bar.vertical.large-empty ul.steps-indicator li.optional .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #38ef38; }
    aw-wizard-navigation-bar.vertical.large-empty ul.steps-indicator li.done .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #339933; }
    aw-wizard-navigation-bar.vertical.large-empty ul.steps-indicator li.current .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #808080; }
    aw-wizard-navigation-bar.vertical.large-empty ul.steps-indicator li.editing .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #FF0000; }
    aw-wizard-navigation-bar.vertical.large-empty ul.steps-indicator li.completed .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #339933; }
    aw-wizard-navigation-bar.vertical.large-empty ul.steps-indicator li.navigable a:hover .step-indicator {
      position: absolute;
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      line-height: 46px;
      transition: 0.25s;
      border-radius: 100%;
      border-width: 2px;
      border-style: solid;
      border-color: #cdcdcd; }
    aw-wizard-navigation-bar.vertical.large-empty ul.steps-indicator li.navigable.optional a:hover .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #12e212; }
    aw-wizard-navigation-bar.vertical.large-empty ul.steps-indicator li.navigable.done a:hover .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #267326; }
    aw-wizard-navigation-bar.vertical.large-empty ul.steps-indicator li.navigable.current a:hover .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #676767; }
    aw-wizard-navigation-bar.vertical.large-empty ul.steps-indicator li.navigable.editing a:hover .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #cc0000; }
    aw-wizard-navigation-bar.vertical.large-empty ul.steps-indicator li.navigable.completed a:hover .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #267326; }
  
  aw-wizard-navigation-bar.vertical.large-filled-symbols ul.steps-indicator {
    padding: 5px 5px 5px 55px; }
    aw-wizard-navigation-bar.vertical.large-filled-symbols ul.steps-indicator li:not(:last-child):before {
      background-color: #E6E6E6;
      content: '';
      position: absolute;
      left: -25px;
      top: 50px;
      height: calc(100% - 50px);
      width: 1px; }
    aw-wizard-navigation-bar.vertical.large-filled-symbols ul.steps-indicator li a {
      min-height: 50px; }
    aw-wizard-navigation-bar.vertical.large-filled-symbols ul.steps-indicator li .step-indicator {
      top: 0;
      left: -50px;
      position: absolute;
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      line-height: 50px;
      transition: 0.25s;
      border-radius: 100%;
      background-color: #E6E6E6;
      color: black; }
    aw-wizard-navigation-bar.vertical.large-filled-symbols ul.steps-indicator li.optional .step-indicator {
      background-color: #38ef38;
      color: black; }
    aw-wizard-navigation-bar.vertical.large-filled-symbols ul.steps-indicator li.done .step-indicator {
      background-color: #339933;
      color: black; }
    aw-wizard-navigation-bar.vertical.large-filled-symbols ul.steps-indicator li.current .step-indicator {
      background-color: #808080;
      color: black; }
    aw-wizard-navigation-bar.vertical.large-filled-symbols ul.steps-indicator li.editing .step-indicator {
      background-color: #FF0000;
      color: black; }
    aw-wizard-navigation-bar.vertical.large-filled-symbols ul.steps-indicator li.completed .step-indicator {
      background-color: #339933;
      color: black; }
    aw-wizard-navigation-bar.vertical.large-filled-symbols ul.steps-indicator li.navigable a:hover .step-indicator {
      position: absolute;
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      line-height: 50px;
      transition: 0.25s;
      border-radius: 100%;
      background-color: #d9d9d9;
      color: black; }
    aw-wizard-navigation-bar.vertical.large-filled-symbols ul.steps-indicator li.navigable.optional a:hover .step-indicator {
      background-color: #20ed20;
      color: black; }
    aw-wizard-navigation-bar.vertical.large-filled-symbols ul.steps-indicator li.navigable.done a:hover .step-indicator {
      background-color: #2d862d;
      color: black; }
    aw-wizard-navigation-bar.vertical.large-filled-symbols ul.steps-indicator li.navigable.current a:hover .step-indicator {
      background-color: #737373;
      color: black; }
    aw-wizard-navigation-bar.vertical.large-filled-symbols ul.steps-indicator li.navigable.editing a:hover .step-indicator {
      background-color: #e60000;
      color: black; }
    aw-wizard-navigation-bar.vertical.large-filled-symbols ul.steps-indicator li.navigable.completed a:hover .step-indicator {
      background-color: #2d862d;
      color: black; }
  
  aw-wizard-navigation-bar.vertical.large-empty-symbols ul.steps-indicator {
    padding: 5px 5px 5px 55px; }
    aw-wizard-navigation-bar.vertical.large-empty-symbols ul.steps-indicator li:not(:last-child):before {
      background-color: #E6E6E6;
      content: '';
      position: absolute;
      left: -25px;
      top: 50px;
      height: calc(100% - 50px);
      width: 1px; }
    aw-wizard-navigation-bar.vertical.large-empty-symbols ul.steps-indicator li a {
      min-height: 50px; }
    aw-wizard-navigation-bar.vertical.large-empty-symbols ul.steps-indicator li .step-indicator {
      top: 0;
      left: -50px;
      position: absolute;
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      line-height: 46px;
      transition: 0.25s;
      border-radius: 100%;
      border-width: 2px;
      border-style: solid;
      border-color: #E6E6E6;
      color: #E6E6E6; }
    aw-wizard-navigation-bar.vertical.large-empty-symbols ul.steps-indicator li.optional .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #38ef38;
      color: #38ef38; }
    aw-wizard-navigation-bar.vertical.large-empty-symbols ul.steps-indicator li.done .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #339933;
      color: #339933; }
    aw-wizard-navigation-bar.vertical.large-empty-symbols ul.steps-indicator li.current .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #808080;
      color: #808080; }
    aw-wizard-navigation-bar.vertical.large-empty-symbols ul.steps-indicator li.editing .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #FF0000;
      color: #FF0000; }
    aw-wizard-navigation-bar.vertical.large-empty-symbols ul.steps-indicator li.completed .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #339933;
      color: #339933; }
    aw-wizard-navigation-bar.vertical.large-empty-symbols ul.steps-indicator li.navigable a:hover .step-indicator {
      position: absolute;
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      line-height: 46px;
      transition: 0.25s;
      border-radius: 100%;
      border-width: 2px;
      border-style: solid;
      border-color: #cdcdcd;
      color: #cdcdcd; }
    aw-wizard-navigation-bar.vertical.large-empty-symbols ul.steps-indicator li.navigable.optional a:hover .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #12e212;
      color: #12e212; }
    aw-wizard-navigation-bar.vertical.large-empty-symbols ul.steps-indicator li.navigable.done a:hover .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #267326;
      color: #267326; }
    aw-wizard-navigation-bar.vertical.large-empty-symbols ul.steps-indicator li.navigable.current a:hover .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #676767;
      color: #676767; }
    aw-wizard-navigation-bar.vertical.large-empty-symbols ul.steps-indicator li.navigable.editing a:hover .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #cc0000;
      color: #cc0000; }
    aw-wizard-navigation-bar.vertical.large-empty-symbols ul.steps-indicator li.navigable.completed a:hover .step-indicator {
      border-width: 2px;
      border-style: solid;
      border-color: #267326;
      color: #267326; }
        