<!-- <div class="bigBox">
        <app-form-header></app-form-header>
        <app-neon-form></app-neon-form>
</div>
 -->

 <app-login *ngIf="currentView === 'login'"></app-login>

        <app-neon-form *ngIf="currentView === 'form'"></app-neon-form>
<app-admin *ngIf="currentView === 'admin'"></app-admin>


<app-neon-list *ngIf="currentView === 'client'"></app-neon-list>


<div style="position: fixed; bottom: 25px;">
                <button (click)="logout()">Login</button>
        <button (click)="currentView = 'login'">Login</button>
        <button (click)="currentView = 'form'">Form</button>
        <button (click)="currentView = 'client'">Espace Client</button>
        <button (click)="currentView = 'admin'">Admin</button>
</div>