<!-- <div class="bigBox">
        <app-form-header></app-form-header>
        <app-neon-form></app-neon-form>
</div>
 -->

 <app-login *ngIf="getView() === 'login'"></app-login>

<app-neon-form *ngIf="getView()  === 'form'"></app-neon-form>
<app-admin *ngIf="getView()  === 'admin'"></app-admin>


<app-neon-list *ngIf="getView()  === 'client'"></app-neon-list>

<!-- 
<div style="position: fixed; bottom: 25px;">
                <button (click)="logout()">Logout</button>
        <button (click)="onClickView('login')">Login</button>  
        <button (click)="onClickView('form')">Form</button>
        <button (click)="onClickView('client')">Espace Client</button>
        <button (click)="onClickView('admin')">Admin</button>
</div> -->