<div class="row   ">
    <div class='admin-list-title col-12'>
      <h2 class="admin-title">SUR DU GRADUR FAIS DES POMPES DES TRACTIONS</h2>
    </div>

    <div class="admin-list-cont col-12 row">
      <table class="col-12">
        <thead>
          <tr>
            <th >Yencli</th>
            <th >Type</th>
            <th >Dessin technique</th>
            <th >Recu le</th>
            <th >Etat</th>
            <th >Prix</th>
            <th >Détails</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let command of neonList; let i = index" >
            <td data-column="Yencli"><div class="table-position-circle">{{i+1}}</div>{{command.email}}</td>
            <td data-column="Type">{{command.type}}</td>
            <td data-column="Dessin technique">{{command.text}}</td>
            <td data-column="Recu le">?</td>

            <td data-column="Etat">{{command.state}}</td>
            <td data-column="Prix">{{command.price}}</td>
            <button style="padding-right: 30px; padding-left: 30px; margin-top: 5px;" class="next-btn">Acceder</button>
            <input *ngIf="command.state === 'created'" (change)="importDT($event, command)" type="file"   class="basic-input"/>
          </tr>


        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="loading" class="blendContainer">
    <svg id="progress-circle" class="animation-circle" viewBox="0 0 50 50">
            <!--<circle cx="25" cy="25" r="20" fill="none" stroke="#e2ecf8" stroke-width="7" />-->
            <circle stroke="#f4cc20" class="path" cx="25" cy="25" r="20" fill="none" stroke-width="8.3"></circle>
          </svg>
</div>