.recap-title {
  font-family: Nunito-Black, sans-serif;
  text-align: center;
  color: #000B31 !important;
}

.v-mat-dialog-actions {
  justify-content: space-around !important;
}
.mat-line {
  font-family: Mukta-Regular, sans-serif !important;
}
.neon-wizard-btn-container2 {
  display: flex;
  justify-content: flex-start;
  flex: 2;
}