<h3 class="recap-title" >Recapitulatif de votre demande</h3>
<div mat-dialog-content>
  <mat-list>
    <mat-list-item >
      <mat-icon mat-list-icon>title</mat-icon>
      <h4 mat-line>Texte</h4>
      <p mat-line> {{data?.text  | titlecase}} </p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item >
      <mat-icon mat-list-icon>text_fields</mat-icon>
      <h4 mat-line>Typographie</h4>
      <p mat-line> {{data?.typo  | titlecase}} </p>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item >
      <mat-icon mat-list-icon>color_lens</mat-icon>
      <h4 mat-line>Couleur</h4>
      <p mat-line> {{data?.colors  | titlecase}} </p>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item >
      <mat-icon mat-list-icon>settings_overscan</mat-icon>
      <h4 mat-line>Hauteur</h4>
      <p mat-line> {{data?.size}} cm </p>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item >
      <mat-icon mat-list-icon>photo_size_select_large</mat-icon>
      <h4 mat-line>Support</h4>
      <p mat-line> {{data?.support  | titlecase}} </p>
    </mat-list-item>


  </mat-list>
</div>

<div class="neon-wizard-btn-container2 v-mat-dialog-actions  row" style="margin-bottom: 10Px;
margin-top: 50px;" mat-dialog-actions>

  <button  class="newPrev-btn " type="button" (click)="onNoClick()"><mat-icon mat-list-icon>keyboard_arrow_left</mat-icon>          </button>
  <button [mat-dialog-close]="true" class=" next-btn col-md-3 col-sm-10" type="button" (click)="onCompleteStep(3, 'typo', null)" style="width: 500px;"
     >Valider</button>
</div>
<!--
   <div class="v-mat-dialog-actions row" mat-dialog-actions>

  <button class="newPrev-btn" (click)="onNoClick()">Retour</button> 
   <button  [mat-dialog-close]="true" class="next-btn-no-margin col-5" type="button">Valider</button></div> -->
