@font-face {
  font-family: Mukta-Regular; 
  src:  url('./assets/fonts/Mukta-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: Mukta-Bold;
  src:  url('./assets/fonts/Mukta-Bold.ttf')  format('truetype');
}
@font-face {
  font-family: Nunito-Black;
  src:  url('./assets/fonts/Nunito-Black.ttf')  format('truetype');
}

@font-face {
  font-family: Tommy;
  src:  url('./assets/fonts/Australia-Signature.ttf')  format('truetype');
}
@font-face {
  font-family: Freddy;
  src:  url('./assets/fonts/Ruincity.ttf')  format('truetype');
}
@font-face {
  font-family: Jackie;
  src:  url('./assets/fonts/Hero-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: Cobby;
  src:  url('./assets/fonts/Nickainley-Normal.ttf')  format('truetype');
} 
@font-face {
  font-family: Dannie;
  src:  url('./assets/fonts/rigoletto-9b6a.ttf')  format('truetype');
}
@font-face {
  font-family: Billy;
  src:  url('./assets/fonts/Quinzey_Bold.otf')  format('truetype');
}
@font-face {
  font-family: Jimmy;
  src:  url('./assets/fonts/Hero-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: Lilly;
  src:  url('./assets/fonts/lietome.ttf')  format('truetype');
}
@font-face {
  font-family: Polly;
  src:  url('./assets/fonts/fabfeltscript-bold.ttf')  format('truetype');
}
@font-face {
  font-family: Galsy;
  src:  url('./assets/fonts/TheSecret-Regular.ttf')  format('truetype');
}


.animation-circle {
  animation: rotate 2s linear infinite;
  & .path {
    animation: dash 1.5s ease-in-out infinite;
  }
}

.blendContainer {
  justify-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex0 {
  flex: 0 !important;
}
#progress-circle {
  height: 78px;
  & .path {
    stroke-linecap: round;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.mtm5 {
  margin-top: -5%;
}

.newPrev-btn {
  height: 50px;
  width: 50px;
  border-radius: 75%;
  background-color: white;
  border: solid 2px #f4cc20 ;
  outline: none !important;
  margin-left: 15px;
  align-self: start;


}

.no-border-bot {
  border-bottom: none !important;
}
.newPrev-btn > mat-icon {
  position: relative;
  top: 3px;
}

.next-btn-alt {
  border-radius: 25px;
  color: black;
  background-color: #f4cc20;
  outline: none !important;
  border: none;
  font-family: Mukta-Bold, sans-serif;
  cursor: pointer;
  align-self: center;
  margin-left: auto;
  letter-spacing: 0.4px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 17px !important;
    transition: all 0.3s ease 0s;
    height: 53px;
  }

.next-btn {
        // min-width: 140px;
        border-radius: 25px;
        color: black;
        background-color: #f4cc20;
        outline: none !important;
        border: none;
        font-size: 17px;
        font-family: Mukta-Bold, sans-serif;
        cursor: pointer;
        align-self: center;
        margin-left: auto;
        margin-right: calc(50% - 5px);
        transform: translateX(50%);        padding: 15px;

        letter-spacing: 0.4px;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 17px !important;
        border-radius: 45px;
        transition: all 0.3s ease 0s;
        height: 53px;
}

.next-btn-no-margin {
          // min-width: 140px;
          border-radius: 25px;
          color: black;
          background-color: #f4cc20;
          outline: none !important;
          border: none;
          font-size: 17px;
          font-family: Mukta-Bold, sans-serif;
          cursor: pointer;
          align-self: center;
       padding: 10px;
          padding-left: 25px;
          padding-right: 25px;
          letter-spacing: 0.4px;
  
          border-radius: 45px;
          transition: all 0.3s ease 0s;
          height: 53px;
        }

.big-btn-no-margin {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 17px !important;
  max-height: 70px !important;
  height: 53px;
}

.grey-btn {
  border-radius: 25px;
  color: rgba(0, 0, 0, 0.6);
  // opacity: .7;;
  background-color: #DDDDDD;
  outline: none !important;
  border: none;
  font-size: 17px;
          font-family: Mukta-Bold, sans-serif;
  cursor: auto;
  align-self: flex-end;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;  
  letter-spacing: 0.4px;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  height: 53px;
}
.big-btn {
  padding-left: 35px;
  padding-right: 35px;
  height: 53px;
  font-size: 17px !important;
}
.mukta {
  font-family: Mukta-Regular, sans-serif;
}
.prev-btn {
    // min-width: 140px;
    border-radius: 25px;
    color: black;
    background-color: transparent;
    outline: none !important;
    padding: 9.5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 52px;
    border: 2px solid  #f4cc20;
    font-size: 17px;
      font-family: Mukta-Bold, sans-serif;
    cursor: pointer;
    letter-spacing: 0.4px;
    align-self: flex-end;
    border-radius: 45px;
    transition: all 0.3s ease 0s; 
}

// #000b31
// font-family: 'Mukta', sans-serif;

.npb {
  padding-bottom: 0 !important;
}
.npt {
  padding-top: 0 !important;
}

.pb5 {
  padding-bottom: 5% !important;
}

.nmt {
  margin-top: 0 !important;
}

.mb5 {
  margin-bottom: 5% !important;
}

.mb3 {
  margin-bottom: 1.5% !important;
}
.pt3 {
  padding-top: 2% !important;
}
.pb3 {
  padding-bottom: 2% !important;
}
.mt5 {
  margin-top: 5% !important;
}


.disabled {
  opacity: 0.5;
  cursor: none !important;
}

// GRANDE FRONTIERE 



aw-wizard {
  display: flex;
  justify-content: flex-start; }
aw-wizard .wizard-steps {
  top: 0;
  display: flex; }

aw-wizard.horizontal {
  flex-direction: column; }
aw-wizard.horizontal .wizard-steps {
  width: 100%;
  flex-direction: row; }

  aw-wizard-navigation-bar.horizontal.small ul.steps-indicator {
    padding: 50px 21.7% 50px 20% !important;
}
